*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #111;
}
.video__container {
  width: 90%;
  max-width: 1000px;
  display: flex;
  margin-inline: auto;
  justify-content: center;
  position: relative;
  transition: width 150ms ease-in-out;
  background: #111;
}

.video__container video {
  width: 100%;
}

.video__container .video-control-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  color: #fff;
}
.video__container .video-control-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  z-index: -1;
  width: 100%;
  aspect-ratio: 6/1;
  pointer-events: none;
}

.video__container.theater,
.video__container.fullscreen {
  width: 100%;
  max-width: initial;

  margin-top: 0px;
}
.video__container.theater {
  max-height: 90vh;
}
.video__container.fullscreen {
  max-height: 100vh;
}

.video__container.theater button .tall {
  display: none;
}

.video__container:not(.theater) button .wide {
  display: none;
}

.video__container.fullscreen button .open {
  display: none;
}

.video__container:not(.fullscreen) button .close {
  display: none;
}

.video-control-container .controls {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}
.video-control-container .controls button {
  width: 35px;
  height: 35px;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  font-size: 1.1rem;
  opacity: 0.85;
  transition: opacity 150ms ease-in-out;
}
.video-control-container .controls button:hover {
  opacity: 1;
}
.controls .sound__container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.controls .sound__container .volume-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  fill: #fff;
  font-size: 3rem;
}

.video__container:hover .video-control-container,
.video__container.paused .video-control-container,
.video__container:focus-within .video-control-container {
  opacity: 1;
}

.video__container.paused button .pause-icon {
  display: none;
}

.video__container:not(.paused) button .play-icon {
  display: none;
}

#slider {
  -webkit-appearance: none;
  height: 3px;
  width: 0;
  background: linear-gradient(90deg, white 100%, rgb(122, 122, 122) 100%);
  border-radius: 5px;
  outline: none;
  border: none;
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
.sound__container:hover #slider,
#slider:focus-within {
  width: 60px;
  transform: scaleX(1);
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
#slider::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
  display: none;
}

.video__container[data-volume-btn="high"] .volume-high-icon {
  display: block;
}

.video__container[data-volume-btn="low"] .volume-low-icon {
  display: block;
}

.video__container[data-volume-btn="muted"] .volume-muted-icon {
  display: block;
}
.controls .duration-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-grow: 1;
}
.captions-btn {
  position: relative;
}
.video__container .captions-btn::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  background-color: red;
  bottom: -2px;
  left: 0;
  right: 0;
  border-radius: 1px;
  margin: auto;
  transform: scale(0);
  transform-origin: center;
  transition: all 150ms ease-in-out;
}
.video__container.caption .captions-btn::after {
  transform: scale(1);
}
